@import '../../styles/_mixins.scss';

.calculation {
   margin-bottom: 192px;
   &__content {
      margin-top: 168px;
      padding: 0px 83px;
   }
   &__title {
      text-align: center;
      margin-bottom: 50px;
   }
   &__swiper {
      display: grid;
      grid-template-columns: 2fr 3fr;
      justify-content: center;
   }
   &__selector {
      flex: 0 1 40%;
   }
   &__action {
      flex: 0 1 60%;
   }
   &__link {
      margin-top: 39px;
      grid-column: 1/3;
   }
   &__inner {
      display: flex;
   }
   &__btn {
      min-width: 280px;
      margin-top: 21px;
      min-height: 50px;
      background-color: $background;
      display: flex;
      justify-content: center;
      align-items: center;
      @include style (1.125rem, 100%, $textColor, inherit)
   }
}
.selector {
   &__subtitle {
      font-weight: 700;
      margin-bottom: 36px;
   }
   &__form {
      display: flex;
      flex-direction: column;
      row-gap: 13px;
      position: relative;
      top: 0;
      left: 22px;
   }
   &__item {
      input {
         display: none;
      }
   }
   &__labelRound {
      cursor: pointer;
      margin-left: 16px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 23px;
         height: 23px;
         border-radius: 100%;
         background-color: $background;
         top: 0;
         left: -37px;
      }
      &::after {
         content: "";
         content: "";
         position: absolute;
         width: 9px;
         height: 9px;
         border-radius: 100%;
         background-color: $backgroundSecond;
         top: 7px;
         left: -30px;
         opacity: 0;
      }
   }
   &__labelSquare {
      cursor: pointer;
      margin-left: 16px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 23px;
         height: 23px;
         background-color: $background;
         top: 0;
         left: -39px;
      }
      &::after {
         content: "";
         content: "";
         position: absolute;
         width: 9px;
         height: 9px;
         background-color: $backgroundSecond;
         top: 7px;
         left: -32px;
         opacity: 0;
      }
   }
}
.action {
   &__title {
      margin-bottom: 50px;
      font-size: 1.5rem;
      font-weight: 700;
   }

   &__subtitle {
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: 12px;
   }

   &__text {
      line-height: 220%;
   }
}

input[type="radio"]:checked + label::after {
   opacity: 1;
}

input[type="checkbox"]:checked + label::after {
   opacity: 1;
}