@import './null.scss';
@import './mixins.scss';
@import './variables.scss';
@import './typography.scss';
@import './fonts.scss';

* {
   transition: 0.3s all ease 0s;
}
html, body {
   font-family: 'Roboto Slab', serif;
   // font-family: 'Montserrat', sans-serif;
	font-size: 16px;
   line-height: normal;
   font-weight: 400;
	color: $textColor;
   height: 100%;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.container {
   flex: 1 0 auto;
   max-width: $screen-full;
   padding: 0px 15px;
   box-sizing: content-box;
   margin: 0 auto;
}
.footer {
   flex: 0 0 auto;
}