@import '../../styles/_mixins.scss';

.partner {
   margin-top: 101px;
   &__content {
   }

   &__title {
      text-align: center;
   }

   &__subtitle {
      margin-top: 33px;
      margin-bottom: 39px;
      text-align: center;
      font-weight: 700;
   }

   &__info {
      text-align: center;
   }

   &__list {
      margin-bottom: 66px;
      display: flex;
      column-gap: 30px;
      justify-content: center;
   }

   &__item {
   }

   &__result {
      margin-bottom: 104px;
      text-align: center;
      position: relative;
      img {
         height: 570px;
         filter: blur(5px);
      }
   }
   &__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      margin-top: 21px;
      width: 300px;
      min-height: 50px;
      background-color: $background;
      display: flex;
      justify-content: center;
      align-items: center;
      @include style (1.125rem, 100%, $textColor, inherit)
   }
}